[submodule "sdk/pax-gfx"]
	path = sdk/pax-gfx
	url = https://github.com/robotman2412/pax-graphics
[submodule "sdk/pax-codecs"]
	path = sdk/pax-codecs
	url = https://github.com/robotman2412/pax-codecs
